@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

/* 
orange: #E05915 
purple: #431C5D
white: #E6E9F0
light-blue: #BCCBDE
red: #E01515
*/

html,
body {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.cursor {
    cursor: pointer;
}

.btn {
    width: 140px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px; 
    font-size: 2rem;
    color: #ffffff;
    border: 0;
}

.purple {
    background-color:#431C5D;
}

.orange {
    background-color:#E05915;
}

.white {
    background-color: #E6E9F0; 
}

.light-blue {
    background-color: #BCCBDE;
}

.red {
    background-color: #E01515;
}

.pageStructure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
}

.container {
    width: 960px;
    height: 70vh;
    display: flex;
}

.half-container {
    width: 50%;
    height: 100%;
}