@import url("https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto|Rubik");

.padding-canvas {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-structure {
  height: 300px;
  overflow-y: auto;
  border-radius: 10px;
}

.controles-box {
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 10px;
}

.colors-table {
  padding: 15px;
  border-radius:10px; 
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-gap: 1px;
}

.color-cube {
  height: 15px;
}

.selected-color {
  box-sizing: border-box;
  border: 2px solid #ffffff;
}

.controles-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  font-size: 1.4rem;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.controles-inside {
  border-radius: 10px;
  padding: 15px 20px 10px 20px;
}

.btn-control-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.btn-control-box .control-input {
  grid-column: span 8;
}

.control-input {
  background: #e6e9f0;
  border: 1px solid#431C5D;
  color: #431c5d;
  padding: 3px 5px;
}
.control-input::-webkit-input-placeholder { 
  color: #431c5d;
}

.btn-control {
  width: 41px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #ffffff;
  border: 0;
}

.range-control {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 100px auto 100px;
  grid-template-rows: repeat(2, auto);
  grid-gap: 5px;
  align-items: center;
}

.btn-control-text-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.btn-control-text-box .control-input {
  grid-column: span 9;
}

.range-control-text-rotation {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-top: 8px;
}

.itm {
  background-color: #C2DDE6;
}







/* .range-control {
  display: flex;
  justify-content: space-between;
}

.range-control input {
  display: flex;
  width: 300px;
} */

/* .btn-control-box {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
} */

/* .btn-control-box > * {
  margin-right: 10px;
} */


.input-control {
  background: #e6e9f0;
  border: 1px solid#431C5D;
  color: #431c5d;
  padding: 3px 5px;
  flex-grow: 2;
}

.bottom {
  margin-bottom: 5px;
}

.text-control-inside {
  display: flex;
  align-items: center;
}

.text-control-inside label {
  margin-right: 5px;
}

.text-control-inside input {
  text-align: right;
  width: 100px;
}

.text-control {
  display: flex;
  justify-content: space-between;
}

.text-control > * {
  margin-right: 10px;
}

.text-control select {
  background: #e6e9f0;
  color: #431c5d;
  width: 100px;
}

.text-size-control {
  background: #e6e9f0;
  border: 1px solid#431C5D;
  color: #431c5d;
  width: 100px;
  padding: 3px 5px;
}

.demo-advisor {
  background-color: rgba(244, 89, 21, 0.7);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
}

.label-design-name {
  font-size: 2rem;
}

.input-design-name-canvas {
  margin-left: 20px;
  background: #e6e9f0;
  border: 1px solid #431c5d;
  font-size: 1.4rem;
  padding: 5px 10px;
  flex-grow: 2;
}

.form-save-design {
  display: flex;
  flex-direction: column;
}

.form-inside-design {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
