@import url("https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto|Rubik");

.padding-canvas {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-structure {
  height: 280px;
  overflow-y: scroll;
}

.controles-box {
  border-radius: 10px;
  font-size: 1.4rem;
  display: flex;
  padding: 10px 20px;
}

.colors-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  grid-gap: 1px;
}

.color-cube {
  height: 15px;
}  

.selected-color {
  box-sizing: border-box;
  border: 2px solid #ffffff;
}

.controlRGB {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.range-control {
  display: flex;
  justify-content: space-between;
}

.range-control input {
  display: flex;
  width: 300px;
}

.btn-control-box {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.btn-control-box > *{
  margin-right: 10px; 
}

.btn-control {
  width: 70px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #ffffff;
  border: 0;
}

.input-control {
    background:  #E6E9F0;
    border: 1px solid#431C5D;
    color: #431C5D;
    padding: 3px 5px;
    flex-grow: 2;
}

.bottom{
    margin-bottom: 5px;
}

.text-control-inside {
    display: flex;
    align-items: center;
}

.text-control-inside label {
    margin-right: 5px;
}

.text-control-inside input {
    text-align: right;
    width: 100px;
}

.text-control {
    display: flex;
    justify-content: space-between;  
}

.text-control > * {
    margin-right: 10px; 
}

.text-control select {
    background: #E6E9F0;
    color: #431C5D;
    width: 100px;

}

.text-size-control {
    background:  #E6E9F0;
    border: 1px solid#431C5D;
    color: #431C5D;
    width: 100px;
    padding: 3px 5px;
}

.demo-advisor {
  background-color:rgba(244,89,21, 0.7);
  height: 60px;  
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px; 
}

.label-design-name {
  font-size:2rem;
}

.input-design-name-canvas {
  margin-left: 20px; 
  background: #E6E9F0;
  border: 1px solid #431C5D;
  font-size: 1.4rem;
  padding: 5px 10px;
  flex-grow: 2; 
}

.form-save-design {
  display: flex;
  flex-direction: column;
}

.form-inside-design {
  display: flex;
  align-items: center;
  margin-bottom: 10px 
}