.cart-box {
    flex-direction: column;
    justify-content: space-between;
    color: #431C5D;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 450px;
}

.cart-product {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 1fr); 
    background-color: #BCCBDE;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;  
    padding: 10px 20px;
    margin-bottom: 10px;
}


.form-cart {
    display: flex;
    align-items: center;
}

.label-design-name {
    font-size: 2rem; 
}

.input-design-name {
    width: 50px;
    text-align: right;
    background: #E6E9F0;
    border: 1px solid #431C5D;
    font-size: 1.4rem;
    padding: 3px 5px;
    margin: 0 5px;
}

.btn-quatity {
    color: #ffffff;
    font-size: 1.4rem;
    height: 30px;
    width: 50px;
    border-radius:5px; 
}

.btn-cart {
    font-size: 2rem;
    color: #ffffff;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius:5px; 
    border: 0;
}

.cart-toPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameDesignList {
    grid-column: span 3;
}

.cart-type {
    grid-column: span 2;
}