/* 
orange: #E05915 
purple: #431C5D
*/

nav {
    font-family: 'Oxygen', sans-serif;  
    font-size: 2rem;
    position: fixed;
    width:100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,1)
}

.navbar h2 {
    font-weight: 700;
    color: #E05915;
    font-size: 2.5rem;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-left:32px; 
    color: #431C5D; 
}

.navbar {
    align-items: center; 
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 960px;
}